@media ( min-width : 768px ) and (max-width : 1251px ){
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
	nav ul li{
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 20px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
	}
	
	.padding2{
	visibility: hidden;
}
.colorli{
	background-color: #1a1a1a;
	position: relative;
	}
#myLinks{
display: none;
}
}

