.copyright {
	text-align: center;
	padding-top: 14px;
	padding-bottom: 14px;
	background-color: #070707;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	position: absolute;
	bottom: 0;
	width: 100%;
}