.footer_banner {
	background-color: #1a1a1a;
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-bottom: 0px;
	
}
.light2 {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	border-image: linear-gradient(to right, skyblue 0%, hotpink 100%);
	border-image-slice: 1;
	color: #FFFFFF;
    transition: all 1s linear;
}
.button:hover {
	background-color: #FEFEFE;
	color: black;
	cursor: pointer;
	animation: colorchange 6s ease;
}

/*@keyframes colorchange {
  from {background-color: #1a1a1a;}
  to {background-color: white;}
}*/