@import url("https://fonts.googleapis.com/css?family=Montserrat:100");
#app {
  background: #0a0a0a;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

#wrapper {
  text-align: center;
}

.sub {
  color: #64dcdc;
  letter-spacing: 1em;
}

.glitch {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2px;
  position: relative;
  color: darkblue;
  font-size: 4em;
  letter-spacing: 5px;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(36px, 9999px, 84px, 0);
    -webkit-transform: skew(0.35deg);
            transform: skew(0.35deg);
  }
  5% {
    clip: rect(73px, 9999px, 16px, 0);
    -webkit-transform: skew(0.37deg);
            transform: skew(0.37deg);
  }
  10% {
    clip: rect(47px, 9999px, 86px, 0);
    -webkit-transform: skew(0.84deg);
            transform: skew(0.84deg);
  }
  15% {
    clip: rect(41px, 9999px, 57px, 0);
    -webkit-transform: skew(0.16deg);
            transform: skew(0.16deg);
  }
  20% {
    clip: rect(30px, 9999px, 13px, 0);
    -webkit-transform: skew(0.89deg);
            transform: skew(0.89deg);
  }
  25% {
    clip: rect(48px, 9999px, 45px, 0);
    -webkit-transform: skew(0.11deg);
            transform: skew(0.11deg);
  }
  30% {
    clip: rect(76px, 9999px, 15px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
  35% {
    clip: rect(23px, 9999px, 67px, 0);
    -webkit-transform: skew(0.58deg);
            transform: skew(0.58deg);
  }
  40% {
    clip: rect(54px, 9999px, 73px, 0);
    -webkit-transform: skew(0.74deg);
            transform: skew(0.74deg);
  }
  45% {
    clip: rect(62px, 9999px, 67px, 0);
    -webkit-transform: skew(0.48deg);
            transform: skew(0.48deg);
  }
  50% {
    clip: rect(46px, 9999px, 18px, 0);
    -webkit-transform: skew(0.88deg);
            transform: skew(0.88deg);
  }
  55% {
    clip: rect(95px, 9999px, 93px, 0);
    -webkit-transform: skew(0.87deg);
            transform: skew(0.87deg);
  }
  60% {
    clip: rect(22px, 9999px, 64px, 0);
    -webkit-transform: skew(0.57deg);
            transform: skew(0.57deg);
  }
  65% {
    clip: rect(88px, 9999px, 100px, 0);
    -webkit-transform: skew(0.54deg);
            transform: skew(0.54deg);
  }
  70% {
    clip: rect(62px, 9999px, 25px, 0);
    -webkit-transform: skew(0.38deg);
            transform: skew(0.38deg);
  }
  75% {
    clip: rect(14px, 9999px, 7px, 0);
    -webkit-transform: skew(0.58deg);
            transform: skew(0.58deg);
  }
  80% {
    clip: rect(62px, 9999px, 89px, 0);
    -webkit-transform: skew(0.53deg);
            transform: skew(0.53deg);
  }
  85% {
    clip: rect(63px, 9999px, 72px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  90% {
    clip: rect(85px, 9999px, 75px, 0);
    -webkit-transform: skew(0.01deg);
            transform: skew(0.01deg);
  }
  95% {
    clip: rect(80px, 9999px, 69px, 0);
    -webkit-transform: skew(0.34deg);
            transform: skew(0.34deg);
  }
  100% {
    clip: rect(92px, 9999px, 23px, 0);
    -webkit-transform: skew(0.75deg);
            transform: skew(0.75deg);
  }
}

@keyframes glitch-anim {
  0% {
    clip: rect(36px, 9999px, 84px, 0);
    -webkit-transform: skew(0.35deg);
            transform: skew(0.35deg);
  }
  5% {
    clip: rect(73px, 9999px, 16px, 0);
    -webkit-transform: skew(0.37deg);
            transform: skew(0.37deg);
  }
  10% {
    clip: rect(47px, 9999px, 86px, 0);
    -webkit-transform: skew(0.84deg);
            transform: skew(0.84deg);
  }
  15% {
    clip: rect(41px, 9999px, 57px, 0);
    -webkit-transform: skew(0.16deg);
            transform: skew(0.16deg);
  }
  20% {
    clip: rect(30px, 9999px, 13px, 0);
    -webkit-transform: skew(0.89deg);
            transform: skew(0.89deg);
  }
  25% {
    clip: rect(48px, 9999px, 45px, 0);
    -webkit-transform: skew(0.11deg);
            transform: skew(0.11deg);
  }
  30% {
    clip: rect(76px, 9999px, 15px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
  35% {
    clip: rect(23px, 9999px, 67px, 0);
    -webkit-transform: skew(0.58deg);
            transform: skew(0.58deg);
  }
  40% {
    clip: rect(54px, 9999px, 73px, 0);
    -webkit-transform: skew(0.74deg);
            transform: skew(0.74deg);
  }
  45% {
    clip: rect(62px, 9999px, 67px, 0);
    -webkit-transform: skew(0.48deg);
            transform: skew(0.48deg);
  }
  50% {
    clip: rect(46px, 9999px, 18px, 0);
    -webkit-transform: skew(0.88deg);
            transform: skew(0.88deg);
  }
  55% {
    clip: rect(95px, 9999px, 93px, 0);
    -webkit-transform: skew(0.87deg);
            transform: skew(0.87deg);
  }
  60% {
    clip: rect(22px, 9999px, 64px, 0);
    -webkit-transform: skew(0.57deg);
            transform: skew(0.57deg);
  }
  65% {
    clip: rect(88px, 9999px, 100px, 0);
    -webkit-transform: skew(0.54deg);
            transform: skew(0.54deg);
  }
  70% {
    clip: rect(62px, 9999px, 25px, 0);
    -webkit-transform: skew(0.38deg);
            transform: skew(0.38deg);
  }
  75% {
    clip: rect(14px, 9999px, 7px, 0);
    -webkit-transform: skew(0.58deg);
            transform: skew(0.58deg);
  }
  80% {
    clip: rect(62px, 9999px, 89px, 0);
    -webkit-transform: skew(0.53deg);
            transform: skew(0.53deg);
  }
  85% {
    clip: rect(63px, 9999px, 72px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  90% {
    clip: rect(85px, 9999px, 75px, 0);
    -webkit-transform: skew(0.01deg);
            transform: skew(0.01deg);
  }
  95% {
    clip: rect(80px, 9999px, 69px, 0);
    -webkit-transform: skew(0.34deg);
            transform: skew(0.34deg);
  }
  100% {
    clip: rect(92px, 9999px, 23px, 0);
    -webkit-transform: skew(0.75deg);
            transform: skew(0.75deg);
  }
}

@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(86px, 9999px, 95px, 0);
    -webkit-transform: skew(0.76deg);
            transform: skew(0.76deg);
  }
  5% {
    clip: rect(62px, 9999px, 27px, 0);
    -webkit-transform: skew(0.69deg);
            transform: skew(0.69deg);
  }
  10% {
    clip: rect(61px, 9999px, 87px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  15% {
    clip: rect(89px, 9999px, 41px, 0);
    -webkit-transform: skew(0.1deg);
            transform: skew(0.1deg);
  }
  20% {
    clip: rect(33px, 9999px, 83px, 0);
    -webkit-transform: skew(0.79deg);
            transform: skew(0.79deg);
  }
  25% {
    clip: rect(54px, 9999px, 20px, 0);
    -webkit-transform: skew(0.32deg);
            transform: skew(0.32deg);
  }
  30% {
    clip: rect(96px, 9999px, 13px, 0);
    -webkit-transform: skew(0.43deg);
            transform: skew(0.43deg);
  }
  35% {
    clip: rect(74px, 9999px, 13px, 0);
    -webkit-transform: skew(0.69deg);
            transform: skew(0.69deg);
  }
  40% {
    clip: rect(73px, 9999px, 87px, 0);
    -webkit-transform: skew(0.47deg);
            transform: skew(0.47deg);
  }
  45% {
    clip: rect(8px, 9999px, 31px, 0);
    -webkit-transform: skew(0.29deg);
            transform: skew(0.29deg);
  }
  50% {
    clip: rect(77px, 9999px, 78px, 0);
    -webkit-transform: skew(0.74deg);
            transform: skew(0.74deg);
  }
  55% {
    clip: rect(78px, 9999px, 10px, 0);
    -webkit-transform: skew(0.26deg);
            transform: skew(0.26deg);
  }
  60% {
    clip: rect(62px, 9999px, 71px, 0);
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  65% {
    clip: rect(41px, 9999px, 31px, 0);
    -webkit-transform: skew(0.21deg);
            transform: skew(0.21deg);
  }
  70% {
    clip: rect(30px, 9999px, 41px, 0);
    -webkit-transform: skew(0.68deg);
            transform: skew(0.68deg);
  }
  75% {
    clip: rect(50px, 9999px, 12px, 0);
    -webkit-transform: skew(0.47deg);
            transform: skew(0.47deg);
  }
  80% {
    clip: rect(68px, 9999px, 27px, 0);
    -webkit-transform: skew(0.79deg);
            transform: skew(0.79deg);
  }
  85% {
    clip: rect(36px, 9999px, 31px, 0);
    -webkit-transform: skew(0.28deg);
            transform: skew(0.28deg);
  }
  90% {
    clip: rect(7px, 9999px, 100px, 0);
    -webkit-transform: skew(0.35deg);
            transform: skew(0.35deg);
  }
  95% {
    clip: rect(32px, 9999px, 3px, 0);
    -webkit-transform: skew(0.62deg);
            transform: skew(0.62deg);
  }
  100% {
    clip: rect(54px, 9999px, 43px, 0);
    -webkit-transform: skew(0.85deg);
            transform: skew(0.85deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(86px, 9999px, 95px, 0);
    -webkit-transform: skew(0.76deg);
            transform: skew(0.76deg);
  }
  5% {
    clip: rect(62px, 9999px, 27px, 0);
    -webkit-transform: skew(0.69deg);
            transform: skew(0.69deg);
  }
  10% {
    clip: rect(61px, 9999px, 87px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  15% {
    clip: rect(89px, 9999px, 41px, 0);
    -webkit-transform: skew(0.1deg);
            transform: skew(0.1deg);
  }
  20% {
    clip: rect(33px, 9999px, 83px, 0);
    -webkit-transform: skew(0.79deg);
            transform: skew(0.79deg);
  }
  25% {
    clip: rect(54px, 9999px, 20px, 0);
    -webkit-transform: skew(0.32deg);
            transform: skew(0.32deg);
  }
  30% {
    clip: rect(96px, 9999px, 13px, 0);
    -webkit-transform: skew(0.43deg);
            transform: skew(0.43deg);
  }
  35% {
    clip: rect(74px, 9999px, 13px, 0);
    -webkit-transform: skew(0.69deg);
            transform: skew(0.69deg);
  }
  40% {
    clip: rect(73px, 9999px, 87px, 0);
    -webkit-transform: skew(0.47deg);
            transform: skew(0.47deg);
  }
  45% {
    clip: rect(8px, 9999px, 31px, 0);
    -webkit-transform: skew(0.29deg);
            transform: skew(0.29deg);
  }
  50% {
    clip: rect(77px, 9999px, 78px, 0);
    -webkit-transform: skew(0.74deg);
            transform: skew(0.74deg);
  }
  55% {
    clip: rect(78px, 9999px, 10px, 0);
    -webkit-transform: skew(0.26deg);
            transform: skew(0.26deg);
  }
  60% {
    clip: rect(62px, 9999px, 71px, 0);
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  65% {
    clip: rect(41px, 9999px, 31px, 0);
    -webkit-transform: skew(0.21deg);
            transform: skew(0.21deg);
  }
  70% {
    clip: rect(30px, 9999px, 41px, 0);
    -webkit-transform: skew(0.68deg);
            transform: skew(0.68deg);
  }
  75% {
    clip: rect(50px, 9999px, 12px, 0);
    -webkit-transform: skew(0.47deg);
            transform: skew(0.47deg);
  }
  80% {
    clip: rect(68px, 9999px, 27px, 0);
    -webkit-transform: skew(0.79deg);
            transform: skew(0.79deg);
  }
  85% {
    clip: rect(36px, 9999px, 31px, 0);
    -webkit-transform: skew(0.28deg);
            transform: skew(0.28deg);
  }
  90% {
    clip: rect(7px, 9999px, 100px, 0);
    -webkit-transform: skew(0.35deg);
            transform: skew(0.35deg);
  }
  95% {
    clip: rect(32px, 9999px, 3px, 0);
    -webkit-transform: skew(0.62deg);
            transform: skew(0.62deg);
  }
  100% {
    clip: rect(54px, 9999px, 43px, 0);
    -webkit-transform: skew(0.85deg);
            transform: skew(0.85deg);
  }
}

@-webkit-keyframes glitch-skew {
  0% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  10% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  20% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  30% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  40% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  50% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  60% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  70% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  80% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  90% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  100% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
}

@keyframes glitch-skew {
  0% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  10% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  20% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  30% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  40% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  50% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  60% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  70% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  80% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  90% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  100% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
}
/*# sourceMappingURL=glitch.module.css.map */