$breakpoint-mobile: 323px;
$breakpoint-tablet: 768px;

.stats {
	color: #717070;
	margin-bottom: 5px;
}


.infoboxes{
	clear: both;
	display: inline-block;
	width: 90%;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	padding-top: 30px;
	margin-top: -5px;
	margin-bottom: 0px;
	margin-left: 40px;
	margin-right: 20px;
}
.infoboxestime{
	clear: both;
	display: inline-block;
	width: 100%;
	padding-bottom: 35px;
	padding-top: 30px;
	margin-top: -5px;
	margin-bottom: 0px;
}

.littleinfobox {
	width: 19%;
	text-align: center;
	float:left;
	margin-left: 5%;
	margin-top: 35px;
}

@media (max-width : $breakpoint-mobile ) {
.infoboxes {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.littleinfobox {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}



}

@media (max-width: $breakpoint-tablet) {
  .infoboxes {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 6%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
	
	
.littleinfobox {
	padding-top: 60px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}

  }
