$breakpoint-tablet: 768px;
$breakpoint-mobile: 323px;

.menu { 
	display: none;
 }

@media (max-width: $breakpoint-tablet){ 
@mixin vertical-align($position) {
  position:$position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin all-transition($time)
{
	transition: all $time;
	-webkit-transition: all $time;
}
.butt{
	position: fixed;
	text-align: center;
	font-size: 3.2em;
	background-color: black;
	color: white;
	z-index: 101;
	width: 100%;
	opacity: 0.95;
}
.menu {
	
	font-weight: 100;
	background-color: black;
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
	-webkit-box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
	color: #efefef;

	.nav
	{
		@include vertical-align(absolute);
    font-weight: 100;
    width: 100%;
	height: 60%;
	font-size: 2.5em;
	
		li
		{
			height: 20%;
            width: 100%;
				padding-bottom: 20px;
        
        color: rgb(219, 186, 186);
				list-style-type: none;
                text-align: center;

				a
				{
					display: block;
					text-decoration: none;
					@include all-transition(0.3s);
                    background-image: linear-gradient(to left, skyblue 0%, hotpink 50%, black 100%);
	background-size: 400% 400%;
	-webkit-background-clip: text;
    -moz-background-clip: text;
	background-clip: text;
	color: transparent;
	-moz-animation:colorchange 6s ease infinite;
	-webkit-animation:colorchange 6s ease infinite;
	animation:colorchange 6s ease infinite;
					
				}
		}


	}


}

@-webkit-keyframes colorchange{
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@-moz-keyframes colorchange{
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@keyframes colorchange{
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}

.wrapper{
margin-left:auto;
    margin-right:auto;
    width:100%;

}

.intro
{
	position: absolute;
	top:30%;
	margin: 0 auto;left:0;right:0;
	font-size: 45em;
	text-align: center;
   font-style: italic;

}


	
	
}

.title
{
	z-index: 101;	
	bottom: 46rem;
	text-align: center;
	left: 46.5%;
	position: fixed;
	color: white;
	display: block;
	font-size: 20rem;
	
}
