$breakpoint-tablet: 768px;
$breakpoint-mobile: 323px;


@mixin vertical-align($position) {
  position:$position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin all-transition($time)
{
	transition: all $time;
	-webkit-transition: all $time;
}

.menu {

	font-weight: 100;
	background: white;
	width: 100%;
	height: 500px;
	position: fixed;
    bottom: 400px;
	z-index: 100;
	-webkit-box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
	@include all-transition(0.3s);
	color: #222;

	&:hover, &:focus
	{
    background: #efefef;
		transform: translate3d(0, 130px, 0);
		animation-timing-function: 1s ease-in;
	}
	.title
	{
		top:50%;
    color: #efefef;
		@include vertical-align(absolute);
		transform: rotate(270deg);
		left: 10px;
		font-weight: 600;
		font-size: 20px;
    
	}
	.nav
	{
		@include vertical-align(absolute);
    font-weight: 100;
    width: 100%;
		li
		{
            width: 100%;
				padding-bottom: 20px;
        
        color: black;
				list-style-type: none;
                text-align: center;

				a
				{
					display: block;
					text-decoration: none;
					color: inherit;
					@include all-transition(0.3s);
                    background-image: linear-gradient(to left, skyblue 0%, hotpink 50%, black 100%);
	background-size: 400% 400%;
	-webkit-background-clip: text;
    -moz-background-clip: text;
	background-clip: text;
	color: transparent;
	-moz-animation:colorchange 6s ease infinite;
	-webkit-animation:colorchange 6s ease infinite;
	animation:colorchange 6s ease infinite;
					
				}
		}


	}


}

@-webkit-keyframes colorchange{
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@-moz-keyframes colorchange{
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@keyframes colorchange{
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}

.intro
{
	position: absolute;
	top:30%;
	margin: 0 auto;left:0;right:0;
	font-size: 45px;
	text-align: center;
   font-style: italic;

}


	
