@charset "UTF-8";

.padding2{
	visibility: hidden;
	}

#myLinks{
display: unset;
}

.colorli{
	background-color: #1a1a1a;
	position: relative;
}

.padding{
	padding-left: 18px;
	height: 50px;
	width: auto;
}
/* Smaller desktop screen size layout */
@media ( min-width : 768px ) and (max-width : 1251px ){
.padding2{
	visibility: hidden;
}

.colorli{
 background-color: #1a1a1a;

}

}

/* mobile screen siz layout */

@media (max-width : 323px ){
	.padding2{
	position: relative;
	float: right;
	bottom: 5px;
	visibility: unset;
	
}

#navbar{ 
	overflow: visible;
	float: none;
    display: block;
    text-align: left;
	z-index: 5;
	position: relative;
	width: 100%;
}
.padding{
	position: relative;
	padding-left: 8px;
	bottom: 5px;
	float: left;
}

}

/* tablet screen size layout */

@media (min-width: 324px)and (max-width: 767px){
#myLinks{
display: block;
}

.padding2{
	position: relative;
    float: right;
	visibility: visible;
}

.padding{
	visibility: visible;
}

}