@charset "UTF-8";
/* css */
video {
    object-fit: cover;
	width: 100%;
	position: relative;
}

.padding2{
	visibility: hidden;
	}
.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.video-container {
  height: 38%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.colorli{
	background-color: #1a1a1a;
	position: relative;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/main_header.gif");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #dc0000;
  padding: 10px;
}

.colour{
	color: #a3f333;
	
}

body {
	font-family: source-sans-pro;
	background: linear-gradient(#303030 30%, black 50%);
	height: 2300px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
	z-index: -3000;
}


header {
	width: 100%;
	height: 5%;
	background-color: #1a1a1a;
	border-bottom: 1px solid #000000;
	z-index: 20;
	overflow: visible;
}
.padding{
	position: relative;
	padding-left: 12px;
	top:4px;
}
.logo {
	color: #fff;
	font-weight: bold;
	text-align: undefined;
	width: 10%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
	z-index: 30;
}

#navbar {
  overflow: visible;
	width: 100%;
	min-width: 100%;
	height: 6%;
	background-color: #1a1a1a;
	border-bottom: 1px solid #000000;
	z-index: 20;
}

nav {
	overflow: visible;
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 40px;
	z-index: 40;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 40px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: inherit;
}

.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
	font-size: 80px;
}

.hero {
	background-color: hidden;
	padding-top: 150px;
	padding-bottom: 150px;
	z-index: 15;
}
.light {
	font-weight: bold;
	color: #717070;
	font-size: 80px;
}
.light2 {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 20px;
}

.text_column {
	width: 29%;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}
.about {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 35px;
	display: inline-block;
	background-color: #FFFFFF;
	margin-top: 0px;
}

.stats {
	color: #717070;
	margin-bottom: 5px;
}


.infoboxes{
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	padding-bottom: 35px;
	padding-top: 30px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.infoboxestime{
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #171717;
	padding-bottom: 35px;
	padding-top: 30px;
	margin-top: -5px;
	margin-bottom: 0px;
}

.littleinfobox {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52BAD5;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #A3A3A3;
}

.banner {
	background-color: #2D9AB7;
	background-image: url(../images/parallax.png);
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.parallax {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

footer {
	background-color: #FFFFFF;
	padding-bottom: 35px;
}
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	color: #B3B3B3;
	text-align: center;
}
footer .footer_column p {
	color: #717070;
	background-color: #FFFFFF;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 330px;
	max-height: 300px;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	border-image: linear-gradient(to right, skyblue 0%, hotpink 100%);
	border-image-slice: 1;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.timelineh{
	color:white;
}

.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}

#ahref{
	text-decoration: none;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #070707;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner {
	background-color: #1a1a1a;
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-bottom: 0px;
	background-image: url(../images/pattern.png);
	background-repeat: repeat;
}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}

/* Mobile */
@media (max-width : 323px ){
	.colorli{
	background-color: #1a1a1a;
	position: relative;
	}
	
	.mobile-container {
  max-width: 480px;
  margin: auto;
  height: 700px;
  border-radius: 10px;
}
	.padding{
	position: relative;
	padding-left: 12px;
	bottom: 6px;
	
}
	.padding2{
	position: relative;
	float: right;
	bottom: 5px;
	visibility: visible;
	
}
	.light{
		margin: auto;
		padding-bottom: 10px;
		font-size: 30px;
	}
.text-skill-mobile{
	font-size: 20px;		
	}
.logo {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
	.sticky {
  position: relative;
  top: 1;
  padding-top: 10px;
  width: 100%;
}
.dropmenu{
	padding-left: 200px;
	height: 100px;
	width: 100px;
	background-image: url("../images/menu_icon.png");
	}
.container header nav {
	overflow: visible;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	z-index: 5;
	position: relative;
	
	}
	
header nav ul { 
	overflow: visible;
	float: none;
    text-align: left;
	z-index: 5;
	position: relative;
	padding: 0px;
	
}
#navbar{ 
	overflow: visible;
	float: none;
    display: block;
    text-align: left;
	z-index: 5;
	position: relative;
	width: 100%;
}
nav ul li {
	bottom: 29px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top:10px;
	text-align: center;
	z-index: 5;
	position: relative;
	overflow: visible;
	background-color: dimgray;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.infoboxes {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.littleinfobox {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
.banner {
	overflow: visible;
    background-color: dimgrey;
	background-image: none;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 40px;
	font-size: 50px;
	text-align: center;
}
	.parallax{	
		left: 45px;
		width: 50%;
		bottom: 100px;
		position: relative;
		font-size: 10px;
		text-align: center;
	}
	
	.parallax_description{
		width: 50%;
		left: 10px;
		bottom: 100px;
		position: relative;
		font-size: 10px;
		text-align: center;
	}
	
nav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
}


/* Small Tablets */

/* Small Desktops */