@media (max-width : 323px ){
	.colorli{
	background-color: #1a1a1a;
	position: relative;
	}
	
	.mobile-container {
  max-width: 480px;
  margin: auto;
  height: 700px;
  border-radius: 10px;
}
	.padding{
	position: relative;
	padding-left: 12px;
	bottom: 6px;
	
}
	.padding2{
	position: relative;
	float: right;
	bottom: 5px;
	visibility: visible;
	
}
	.light{
		margin: auto;
		padding-bottom: 10px;
		font-size: 30px;
	}
.text-skill-mobile{
	font-size: 20px;		
	}
.logo {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
	.sticky {
  position: relative;
  top: 1;
  padding-top: 10px;
  width: 100%;
}
.dropmenu{
	padding-left: 200px;
	height: 100px;
	width: 100px;
	background-image: url("../images/menu_icon.png");
	}
.container header nav {
	overflow: visible;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	z-index: 5;
	position: relative;
	
	}
	
header nav ul { 
	overflow: visible;
	float: none;
    text-align: left;
	z-index: 5;
	position: relative;
	padding: 0px;
	
}
#navbar{ 
	overflow: visible;
	float: none;
    display: block;
    text-align: left;
	z-index: 5;
	position: relative;
	width: 100%;
}
nav ul li {
	bottom: 29px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top:10px;
	text-align: center;
	z-index: 5;
	position: relative;
	overflow: visible;
	background-color: dimgray;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.infoboxes {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.littleinfobox {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
.banner {
	overflow: visible;
    background-color: dimgrey;
	background-image: none;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 40px;
	font-size: 50px;
	text-align: center;
}
	.parallax{	
		left: 45px;
		width: 50%;
		bottom: 100px;
		position: relative;
		font-size: 10px;
		text-align: center;
	}
	
	.parallax_description{
		width: 50%;
		left: 10px;
		bottom: 100px;
		position: relative;
		font-size: 10px;
		text-align: center;
	}
	
nav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
}
